<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/admin.css" />

	</head>
	<body>
		<div class="adminin">
            <div class="access">
                    <h1>Dashboard</h1>
                    <a  href="/adminpage"><h3>Users</h3></a>
                    <a href="/allproducts"><h3>All Products</h3></a>
					<a href="/addpr"><h3>Add Product</h3></a>

            </div>
			<div class="admin_body">
				<div class="heading">
					<div><h1>Admin Panel</h1></div>
					

					<div class="signout">
						<form action="/signout" method="post"><button>signout</button></form>


					
				</div>
				</div>
				
				
			


		
