<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="sign.css" />
	</head>
	<body>
		<form action="/newsignup" method="post">
			<div class="heading"><h1>Signin</h1></div>
			<div class="form-body">
                <div class="a">
                    <h2>Username:</h2>
                    <input type="text" name="username" placeholder="//......................................................." />
                </div>
                <div class="a">
                    <h2>Phonenumber:</h2>
                    <input type="number" name="phonenumber" placeholder="//...................................................." />
                </div>
                <div class="a">
                    <h2>Email:</h2>
                    <input type="email" name="email" placeholder="//.................................................................." />
                </div>
                <div class="a">
                    <h2>Password:</h2>
                    <input type="text" name="password" placeholder="//.................................................................." />
                </div>
            </div>
            <div class="btn"><button >Signin</button></div>
            
		</form>
	</body>
</html>
